:host {
  border: 0 solid #e1e1e1;
  /*border-bottom-width: 1px;*/
  display: block;
  padding: 8px 16px;
}

nav a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
.menu{
  color: #069bf7;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.3;
}

nav a.router-link-active {
  color: #106cc8;
}
