:host {
  border: 0 solid #e1e1e1;
  font-family: "Georgia","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*border-bottom-width: 1px;*/
  display: block;
  padding-top: 15px;
}
.active{
  /*color: #106cc8;*/
   border-radius: 90px !important;
}

.title{
  font-family: Georgia,Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.left-menu {
  background: #f2f2f2;
  padding: 2rem;
  font-size: 1.0rem;
  margin-bottom: 2rem;
  width: 350px;
}
.left-menu ul{
  margin: 0;
  margin-left: 1rem;
}
.left-menu ul li {
  list-style: none;
  margin-bottom: 1.4rem;
  line-height:2.5;

}

.left-menu ul li a {
    display: block;
    line-height: inherit;
    color: #002546;
    text-decoration: none;
    cursor: pointer;
}
.ft-left{
  float:left;
}
.ft-right{
  padding-left:10px;
   font-size: 18px;
}



a{
    color: #002546;
    text-decoration: none;
    cursor: pointer;
     font-size: 15px;
    line-height: 1.5;
}

a:hover {
    color: red;
}