


  <nav  class="left-menu">
    <ul>
      <li><span class="title">Information Security</span></li>
      <li><a class="menu" [routerLink]="['/antivirus']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Antivirus</span></a></li>
      <li><a class="menu" [routerLink]="['/backup']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Backup</span></a></li>
      <li><a class="menu" [routerLink]="['/home']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Information Security Policy</span></a></li>
      <li><a class="menu" [routerLink]="['/classifcationData']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Classification of Data</span></a></li>
      <li><a class="menu" [routerLink]="['/lockComputer']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Lock your computer</span></a></li>
      <li><a class="menu" [routerLink]="['/mailBehaviour']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Mail behaviour</span></a></li>
      <li><a class="menu" [routerLink]="['/onlineUse']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">online use</span></a></li>
      <li><a class="menu" [routerLink]="['/softwareUpdate']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Software update</span></a></li>
      <li><a class="menu" [routerLink]="['/organization']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Organization</span></a></li>
      <li><a class="menu" [routerLink]="['/password']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Password</span></a></li>
      <li><a class="menu" [routerLink]="['/phishing']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Phishing</span></a></li>
      <li><a class="menu" [routerLink]="['/latestNews']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Latest news</span></a></li>
      <li><a class="menu" [routerLink]="['/contactInfo']"><span class="glyphicon glyphicon-chevron-right"></span><span class="ft-right">Contact information</span></a></li>
    </ul>
  </nav>