<header>
  <nav class="navbar">
    <div class="navbar-header">
      <a [routerLink]="['/about']"><img class="thumbnail-image" src="./assets/mainnav-logo_quintilesims.png" alt="..." align="left" heigh="105px" width="300px"></a>
    </div>
  </nav>
</header>


<div class="row">
  <div class="col-sm-4" style="width: 300px">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a [routerLink]="['/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" style="background-color: #753d97;">Information Security Policy</a></li>
      <li><a class="menu" [routerLink]="['/about']">Antivirus</a></li>
      <li><a class="menu">Backup</a></li>
      <li><a class="menu">Information Security Policy</a></li>
      <li><a class="menu">Classification of Data</a></li>
      <li><a class="menu">Lock your computer</a></li>
      <li><a class="menu">Mail behaviour</a></li>
      <li><a class="menu">online use</a></li>
      <li><a class="menu">Software update</a></li>
      <li><a class="menu">Organization</a></li>
      <li><a class="menu">Password</a></li>
      <li><a class="menu">Phishing</a></li>
      <li><a class="menu">Latest news</a></li>
      <li><a class="menu">Contact information</a></li>
    </ul>
  </div>
</div>