:host {
  border: 0 solid red;
  font-family: "Arial","Verdana",Helvetica,Arial,sans-serif;
  /*border-bottom-width: 1px;*/
  display: block;
  padding-top: 25px;
}


.title{
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.left-menu {
  background: #f2f2f2;
  padding: 2rem;
  font-size: 20px;
  margin-bottom: 2rem;
  /*width: 350px;*/
}
.left-menu ul{
  margin: 0;
  margin-left: 1rem;
}
.left-menu ul li {
  list-style: none;
  margin-bottom: 1.4rem;
  line-height:2.5;

}

.left-menu ul li a {
    display: block;
    line-height: inherit;
    color: #002546;
    text-decoration: none;
    cursor: pointer;
}
.left-menu ul li a:hover {
    color: #753d97;
    text-decoration: underline;

}

.active {
  color: #753d97 !important;
  text-decoration: underline !important;
  font-weight: bolder;
}

.ft-left{
  float:left;
}
.ft-right{
  padding-left:10px;
   font-size: 18px;
}



.ft-right:active{
    color: #002546;
    text-decoration: underline;
    line-height: 1.5;
}

