.lock-wscript
.tsdrc
.typingsrc

#IDE configuration files
.idea
*.iml

/tools/**/*.js
dist
dev
docs
lib
test
tmp

gulpfile.js
gulpfile.js.map

# OS X trash files
.DS_Store
src/client/app/shared/config/env.config.js
src/client/app/shared/config/env.config.js.map
