<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
  <li class="breadcrumb-item ">Antivirus</li>
</ol>

<div>
  <h2><strong>Antivirus</strong></h2>
  <img class="size-full wp-image-165 alignleft" src="assets/antivirus.jpg" alt="" width="300" height="200" />
<br/><br/>
From the very beginning, personal computers have been plagued by computer viruses and malware – malicious software that attacks the data on the machine and/or makes the machine do things behind your back.New viruses and malware attack our computers every day, so you are required to have an effective, updated antivirus program on your computer.

Modern malware is most often developed by criminal organisations, and their goal is almost always to earn money - either by stealing and exploiting data, or by taking over your machine and using it to attack others.

&nbsp;
<div >
<div id="c749222" class="csc-default">
<div >
<h2><strong>Antivirus software</strong></h2><br/>
</div>
&nbsp;

&nbsp;

Aarhus University uses McAfee antivirus.

Previously, we used the Sophos antivirus, but the agreement expired at the end of 2015.

Remember to install antivirus on your private machines as well. <a href="http://medarbejdere.au.dk/en/administration/it/antivirus/">You can buy McAfee with a discount for private use</a>, but there are also excellent free antivirus programs for both PC and Mac. Try looking at <a href="https://www.av-test.org/en/" target="_blank">AV-Test</a> and see how the different programs perform.

Only machines with functional, updated antivirus programs may connect to AU’s network.

<a href="http://www.au.dk/index.php?id=1423505&amp;L=1">Make sure McAfee is installed correctly.</a>

Please contact <a href="http://www.au.dk/en/informationsecurity/contactinformation/">your local IT support office </a>if you have questions about AU’s antivirus program.

&nbsp;

&nbsp;

</div>
</div>
<div class="large-6 medium-6 small-12 column last"><a id="c749229"></a>
<div id="c749226" class="csc-default">
<div class="csc-header csc-header-n1">
<h2 ><strong>How do I know if I got the virus?</strong></h2>
&nbsp;

</div>
Unlike the earliest viruses, where there was no doubt - the machine did not start or files were deleted or renamed, modern viruses are far more sophisticated and make as little fuss as possible.

So it is difficult to know whether your machine is attacked, but if you suspect that it behaves "strangely" (e.g. is inexplicably slow or connects to strange places) and you find that the antivirus program or operating system is not updated, <a href="http://www.au.dk/en/informationsecurity/contactinformation/">please contact your local IT support </a>as soon as possible so that they can examine your machine.

Usually, a machine can be "cleaned"; at other times it must be completely reinstalled. It is therefore extremely important that you always have a good backup of unique data on the machine (your own files and settings) so that it is no tragedy if the harddisk needs to be wiped.

</div>
</div>
</div>