
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/home">Home</a></li>
  <li class="breadcrumb-item ">Password</li>
</ol>

<div>
  <h2><strong>Password</strong></h2><br/>

  Data and systems must be protected against unauthorized access. This applies of course in particular when handling confidential or sensitive data, but also ordinary machines and systems must be protected, so only the right people can access the data.

The most common protection mechanism is user names and passwords, and the most common way to compromise of data protection is weak or leaked passwords. You must use the university's IT systems comply with some very simple rules for passwords.
<br/>
<img class="size-full wp-image-107 alignright" src="assets/Cyber-Security-1.jpg" alt="" width="1000px" height="400px" />

&nbsp;

<div class="csc-header csc-header-n1">
<h1 class="csc-firstHeader">Rules for passwords</h1>
</div>
<div class="csc-textpic-text">

There are basically three ways in which a criminal can access a password; by asking, by guessing, or by trial and error.

It is therefore important to create a password that protects best against the above. The only thing that can stop a criminal who is trying its way, is making demands on the length and complexity of the password, and, periodically, to change his password. Therefore, the AU also some minimum requirements in these areas.
<ul>
 	<li>Password must be strong. You must make sure that your password can not be guessed easily. Some systems automatically ensures that certain minimum requirements are met; on the other, you choose something sensible.</li>
 	<li>A password must contain at least eight characters. Longer passwords may be required for privileged access by access to sensitive information or to business-critical systems.</li>
 	<li>A password must contain combinations of at least three of the following categories: uppercase letters, lowercase letters, numbers and special characters. In addition, Æ, Ø, Å not used to the AU systems.</li>
 	<li>A password should not contain personal information. Many use birth dates, names, addresses and the like as password - and although they are easy to remember, they are often relatively easy to guess for someone with sinister intentions. The easier it is to relate this information to you as a person, the easier it is to guess.</li>
 	<li>A password must be changed after a maximum of 180 days.</li>
 	<li>A password is strictly personal. Never give out your password to others. Not to your colleagues, not your friends, not your family.</li>
 	<li>If someone sends you an email and ask for your password, delete the message.</li>
 	<li>If someone sends you a password by email then login and change it immediately.</li>
 	<li>Immediately change your password, if there is any reason to believe that others have become aware of it.</li>
 	<li>It is prohibited to use it or the passwords that provide access to services at the University of Aarhus elsewhere.</li>
 	<li>A password can not be reused.</li>
</ul>
Find out how safe your password is. The result is not 100% accurate, but it gives an indication of how secure the password is.
<ul>
 	<li><a href="https://howsecureismypassword.net/" data-htmlarea-external="1">How secure is my password? (English)</a></li>
</ul>
</div>
  
</div>