<div>
  <h2><strong>organization</strong></h2>

  Responsibility for information security lies with the university management<img class="alignright wp-image-143" src="assets/csm_Udvalg_2_01_bb8d16097a-1-300x208.png" alt="" width="427" height="297" />

To attend to the daily management of information security work has hired an information security manager and set up a central information security (CISU) to be responsible for the overall prioritization and follow-up of the tasks involved. It is also CISU responsible for Information Security Manual.

In addition to the Central Committee there is a local safety committees at each strand (FISU / AISU), whose task
is to ensure prioritization and operationalization of the tasks set in the university's annual cycle for information security and to defend the decentralized information security issues.
<p style="text-align: left;">
In the technical area, the AU IT job category for Information Security, which partly addresses the technical issues that arise within the AU IT, but also issues raised by CISU or FISU / AISU. The research group recommends solutions to the management of AU IT or directly to CISU / FISU / AISU.</p>
  
</div>