 <div class="large-12 medium-12 medium-only-portrait-12 small-12 columns">
    
      <h1><strong>Information security</strong> </h1>
     
  </div>
   <div class="image-content">
    <div class="image-content-text">
      <h1>Information security at Aarhus Universitet</h1>
      <ul><li>AU is a knowledge company. For this reason all must have&nbsp;</li> <li>the greatest focus on information security</li> <li>Find more information about how to act here</li></ul>
    </div>
  </div>
  
 
<div class="paragraph">
<div class="row">
    <div class="col-xs-6">
    <div class="col-lg-12">
     
      <h2>Introduction</h2>
     <p> This information security policy is the overall framework for information security at the University of Aarhus.
   </p> 
      <p> <a [routerLink]="['/antivirus']"  class="btn btn-success">Learn More &raquo;</a></p>
    </div></div>

    <div class="col-xs-6">
    <div class="col-lg-12">
       <h2> Purpose </h2>
     <p> Information and information necessary and vital for the University of Aarhus, and information security
    </p>
      <p><a [routerLink]="['/backup']" class="btn btn-success">Learn More &raquo;</a></p>
    </div></div></div></div>
<div class="paragraph">
<div class="row">
      <div class="col-xs-6">
    <div class="col-lg-12">
     
     <h2> Extent </h2>
      <p>This policy applies to all employees without exception, both staff and people who are temporarily working </p> 
      <p> <a [routerLink]="['/classifcationData']" class="btn btn-success">Learn More &raquo;</a></p>
    </div></div>

    <div class="col-xs-6">
    <div class="col-lg-12">
        <h2> Security </h2>
     <p> It is the university's policy to protect its information and only allow the use, access and disclosure of information</p>
      <p><a [routerLink]="['/contactInfo']" class="btn btn-success">Learn More &raquo;</a></p>
    </div></div>

   </div>
  </div>

  <div class="paragraph">
<div class="row">
  <div class="col-xs-6">
  
    <iframe width="580" height="360" src="https://www.youtube.com/embed/eUxUUarTRW4" frameborder="0" allowfullscreen></iframe>
  </div>
 
  </div></div>