<div>
  <h2><strong>Introduction</strong></h2>
  This information security policy is the overall framework for information security at the University of Aarhus. As part of
  the overall security management, management on the basis of the continuous monitoring and reporting information security
  policy to a review at least every two years. The policy includes Aarhus University's information is any information belonging
  to the University of Aarhus in addition also information that does not belong to the University of Aarhus, but Aarhus University
  can be held responsible. This includes, for example, all data on personnel, data about financial matters, all the data
  that contribute to the administration of Aarhus University, as well as information which is left Aarhus University by others,
  including experimental and research data. These data can be factual information, records, documents, reports, planning
  material, or any other information that is only for internal use. This policy covers the Aarhus University's information,
  no matter what form they are stored and disseminated.
    <br/>
    <iframe width="520" height="360" src="https://www.youtube.com/embed/eUxUUarTRW4" frameborder="0" allowfullscreen></iframe>

    <br/>
  <h2><strong>Purpose</strong></h2>
  Information and information necessary and vital for the University of Aarhus, and information security is therefore vital
  for Aarhus University's credibility and ability to function. The purpose of information security is to define a framework
  for the protection of Aarhus University's information and in particular to ensure that critical and sensitive information
  and information systems maintain their confidentiality, integrity and availability. Therefore, Aarhus University's management
  decided on a level of protection that is attuned to risk and materiality and comply with legal requirements and agreements,
  including the license conditions. Management will inform staff and students about the accountability for Aarhus University's
  information and information systems. The purpose of security is also to indicate to all who have a relationship with the
  University of Aarhus, the use of information and information are subject to standards and guidelines. In this way, security
  concerns prevented, any damage can be limited, and restoration of information can be ensured.
  <h2><strong>extent</strong></h2>
  This policy applies to all employees without exception, both staff and people who are temporarily working for the University
  of Aarhus. All these individuals are referred to herein as the employees. The policy also applies to students who are in
  their study using the information assets of Aarhus University. By outsourcing of parts of or entire IT operation must be
  ensured in cooperation with the service provider, the University of Aarhus security is maintained, so that the service
  provider, its facilities and the employees who have access to the University information, at least live up to the University
  information security.
  <h2><strong>Security</strong></h2>
  It is the university's policy to protect its information and only allow the use, access and disclosure of information in
  accordance with Aarhus University's guidelines and taking into account the current legislation. Aarhus University sets
  based on a risk assessment a level of safety equivalent to the significance of the information. There conducted at least
  annually a risk assessment so that management can keep informed about the current risk. There is likewise carried out a
  risk assessment of major changes in the organization. The security level is determined in each case taking into account
  the works and financial resources. The objective of a high level of security balanced with the desire for a convenient
  and user-friendly use of IT, and the fact that the university has a social role in providing freely accessible information.
  <h2><strong>safety Awareness</strong></h2>
  Information security concerns Aarhus University's overall information flow, and implementation of an information security
  policy can not be made by management alone. All employees and students have a responsibility to help to protect Aarhus
  University's information against unauthorized access, alteration and destruction and theft. All staff and students must
  therefore have current information on information security as appropriate. As users of Aarhus University's information,
  all employees and students follow the information security policy and the guidelines derived therefrom. Employees and students
  may only use Aarhus University's information in accordance with the work they do for the University of Aarhus, and shall
  protect the information in a way that is consistent with information the sensitivity, specific and / or critical habitat.
  <h2><strong>Information security breaches</strong></h2>
  If an employee or a student discovers information security threats or breaches of this, this must be reported to the person
  responsible for the daily management of information security efforts. Violation of information security policy, or derivatives
  thereof, rules and guidelines, reported to the immediate manager, in cooperation with the HR department shall decide on
  any further action. It is the manager's responsibility to ensure that any further progress is made in accordance with the
  general rules on industrial disputes, including that the relevant union representatives involved. If the infringement is
  carried out by a student, the case like any other disciplinary action. If the offense in the nature of criminal law, the
  law on liability or other legal violation, will be made to the police.

</div>