  <div class="col-lg-4">
    <a href="/antivirus">
      <h3>Introduction</h3>
      This information security policy is the overall framework for information security at the University of Aarhus.
    </a>
  </div>

  <div class="col-lg-4">
    <a href="/backup">
      <h3> Purpose </h3>
      Information and information necessary and vital for the University of Aarhus, and information security
    </a>
  </div>

  <div class="col-lg-4">
    <a href="/classificationData">
      <h3> Extent </h3>
      This policy applies to all employees without exception, both staff and people who are temporarily working for the University
      of Aarhus. </a>
  </div>


  <div class="col-lg-4">
    <a href="/contactInfo">
      <h3> Security </h3>
      It is the university's policy to protect its information and only allow the use, access and disclosure of information
    </a>
  </div>

  <div class="col-lg-4">
    <a href="/password">
      <h3> Safety Awareness </h3>
      Information security concerns Aarhus University's overall information flow, and implementation of an information security
    </a>
  </div>


  <div class="col-lg-4">
    <a href="/lockComputer">
      <h3>Information Security </h3>
      If an employee or a student discovers information security threats or breaches of this, this must be reported to the person
    </a>
  </div>

<div class="row">
  <div style="float:left; padding-top: 50px;">
    <iframe width="450" height="360" src="https://www.youtube.com/embed/eUxUUarTRW4" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>