<div>
  <h2><strong>mailBehaviour</strong></h2>
  <div id="upleft">
  <img class="size-medium wp-image-154 alignleft" src="assets/personlige_mailadresser_05-198x300.jpg" alt="" width="198" height="300" />
</div>
  <div id="upright">
Much malware entering via mail. One must always be vigilant, even if mail to the university's mail system is scanned for both spam as viruses and malware. Despite the fact that your machine has a fully updated antivirus software, operating system, etc. You risk that a mail contains a malicious program or a link to a malicious website with code that our systems do not yet know.

Remember that the sender information can be faked - you can not be sure that a mail actually comes from someone you know, even if it looks like. It could be that his or her machine was infected with  <em>malware,</em> which mailed themselves to all the contacts in the address book!

So you should exercise  <strong>common sense</strong> when you open attachments or follow links in an email.
</div>
&nbsp;

&nbsp;

&nbsp;
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="csc-header csc-header-n1">
<h1 class="csc-firstHeader">Be aware of the following</h1>
</div>
You pay attention to the following things when you use the university mail system:
<ul>
 	<li>IT support can, if necessary, obtain access to your mailbox, if there is a need to find a work-related mail in your absence. They obviously need to tell you that they have done it. If you use the mailbox private, so place your private messages in a folder / directory structure named "Private" - as leader IT support is not there.</li>
 	<li>The key words are  <strong>common sense</strong> . First and foremost, do not use the mail privately to an extent that bothers other people's work, and you should never use your AU email commercially.</li>
 	<li>Remember that when you use your AU email you represent the university. Of course you have freedom of speech, but you may not speak on behalf of the university (or look as if you do it) unless you are authorized to do so, and you can not with your behavior could bring the university into disrepute.</li>
</ul>
  
</div>