<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/home">Home</a></li>
  <li class="breadcrumb-item ">Lock Computer</li>
</ol>
<div>
  <h2><strong>Lock Computer</strong></h2>
  When you log in to your computer, you get access to some resources on the basis of who you are. If you leave your computer while you are logged in, others can use your computer in your name. This can lead to information that only you should be able to see and change can be viewed and edited by others - in your name!

It's you who sit with the problem, if there is sent a nasty email from your email address or the confidential information that only you have access to, ended up in public.
<br/>
<h2><strong>Lock Always your computer if you leave it.</strong></h2>

<img class="size-full wp-image-107 alignright" src="assets/Lock-on-Keyboard.jpg" alt="" width="1000px" height="400px" />


&nbsp;
<div class="csc-header csc-header-n1">
<h1 class="csc-firstHeader">To unlock your Windows computer</h1>
</div>
You can lock your Windows computer by simultaneously pressing Ctrl + Alt + delete and select "Lock computer", or by simultaneously pressing the Windows button + "L" on Windows 7 computers.

&nbsp;
<div class="csc-header csc-header-n2">
<h1>Locking Your Mac</h1>
</div>
<strong>Lock the screen without screen saver:</strong>
<ul>
 	<li>Go into Applications, Utilities, Keychain.</li>
 	<li>Select Settings and tick the Show status in menu bar.</li>
 	<li>There is now a small padlock in the menu bar, where you can lock your Mac.</li>
</ul>
<strong>Lock screen using the screen saver:</strong>
<ul>
 	<li>First, go into System Preferences, Security &amp; Privacy.</li>
 	<li>Select Require password direkt after sleep or screen saver begins (or sets if necessary. To 5-second delay, then one can reach to turn the screen lock off if you activate it by accident).</li>
</ul>
<img src="http://www.au.dk/fileadmin/_migrated/RTE/RTEmagicC_security_settings_mac.png.png" alt="security settings mac" width="400" height="337" />
<ul>
 	<li>Then go into the System Prefrefrences, Desktop &amp; Screen Saver.</li>
 	<li>Choose Hot Corners.</li>
 	<li>Select Start Screen Saver in the corner that you want to use and click OK.</li>
</ul>
<img title="hotcorners" src="http://www.au.dk/fileadmin/_migrated/RTE/RTEmagicC_hotcorners_mac.png.png" alt="hotcorners_mac" width="397" height="358" />
<ul>
 	<li>You can now start your screensaver and thus activate the lock screen by moving the mouse right out to the selected corner.</li>
 	<li>You can also activate your screensaver by pressing cmd + shift + eject.</li>
</ul>
<div class="csc-header csc-header-n3">
<h1>To unlock your Linux computer</h1>
</div>
If you run Llinux without graphical interface, remember to log out when you leave your computer.

If you are using a GUI, Linux is so standardized as Windows or Mac. Therefore, there are different ways to lock the screen on depending on the distribution and sometimes also by what interface you use.

CTRL + ALT + L works in some distributions, but the best advice is to use the help function that your system has built-in to find the correct way for your system.
</div>