<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
  <li class="breadcrumb-item ">Contact Info</li>
</ol><div>
  <h2><strong>Contact Information</strong></h2>
  <br/>
  <div id="upleft">
  <img class="size-full wp-image-107 alignright" src="assets/csm_nyhed_info_04_3d8a4eb9ee.jpg" alt="" width="200" height="291" ></div>
  <div id="upright">
  If you have any questions regarding information security or discover information security breaches at Aarhus University, please contact your local IT support or Information Security Department.

If your in doubt if you should contact us, then please contact us! Rather ask once too many than once to little.

Contact<a href="http://www.imshealth.com/en_IN"> http://www.imshealth.com/en_IN</a></div>
</div>