<div>
  <h2><strong>phishing</strong></h2>
  Phishing is an attempt to use email to cheat you into providing sensitive information or installing malware. Phishing mails do this by attempting to fool you into thinking that their senders are trustworthy entities.

Never open attached files or click links in mails which you suspect might be attempts at phishing.

&nbsp;
<div class="csc-header csc-header-n2">
<h1>Typical features of phishing mails</h1>
</div>
<ul type="disc">
 	<li>Errors in spelling and grammar.</li>
 	<li>Requests that you act now – before your account is closed, before the money is withdrawn, etc.</li>
 	<li>Requests to disclose confidential information via a link in the mail or by answering the mail, for example passwords or account information.</li>
 	<li>Requests to open attached files.</li>
 	<li>Links which appear to be official or familiar at first glance, but which reveal a different destination when you move your mouse over them.</li>
 	<li>A sender address which is revealed not to be official on closer inspection.
For example Aarhus University &lt;imshealth<a href="">@gmail.com</a>&gt;</li>
</ul>
If you are in doubt as to whether a mail is an attempt at phishing, you should contact your local IT support team. Do not click on attachments or links in suspicious mails.

<a href="http://localhost/ims/a-homepage-section/home/classification-of-data/lock-your-computer/email-behaviour/">Learn more about handling email safely.</a>
  
</div>