<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/home">Home</a></li>
  <li class="breadcrumb-item ">Classification Data</li>
</ol>
<div>
  <h2><strong>Classification Data</strong></h2>
  <br/>
  Classification of data is a central point for information security at Aarhus University. If we classify our data, and processes the data according to their classification, we risk such that personal data being compromised or that the patent application be withdrawn.

It is therefore important that we as students and staff are aware of what data we are dealing.

Aarhus University has four different types of data:
<ul>
 	<li>public data</li>
 	<li>internal data</li>
 	<li>sensitive data</li>
 	<li>confidential data
<img class="alignnone wp-image-185 size-full" src="assets/csm_dataklassifikation_d45783d9b4.jpg" alt="" width="1024" height="251" /></li>
</ul>
<div class="csc-header csc-header-n1">
<h1 class="csc-firstHeader">Public data</h1>
</div>
Defined as data to which everyone, if they so wish, has been or can be given access. Public data may, for example, be data on public websites, brochures about study programmes etc. Generally, this data does not require any special protection, although it is necessary to ensure that only authorised persons are able to edit such data.
<div class="csc-header csc-header-n1">
<h1 class="csc-firstHeader">Internal data</h1>
</div>
Defined as data which must only be used and communicated internally, and which in day-to-day operations is necessary for the users who need to use it. This data may include minutes of meetings, forms, invoices etc. Internal data requires a certain degree of protection. As a minimum, it must be ensured that only authorised persons have access to both read and change the data.
<div class="csc-header csc-header-n1">
<h1 class="csc-firstHeader">Sensitive data</h1>
</div>
Defined as data which is covered by the Act on Processing of Personal Data (Lov om behandling af personoplysninger). Sensitive data requires an extra high level of protection. Access must be limited to as few people as possible, and encryption must be considered. Sensitive data must never be stored or processed on private equipment, and if data is moved to external media, it must be encrypted. Please also note that it may be necessary to enter into data processing agreements and to notify the Danish Data Protection Agency. <a href="http://www.datatilsynet.dk/" target="_blank">Read more on the Danish Data Protection Agency's website</a> (only in Danish).

&nbsp;
<div class="csc-header csc-header-n1">
<h1 class="csc-firstHeader">Confidential data</h1>
</div>
Defined as the data which only specially entrusted users can access in order to carry out their work, and where a breach of confidentiality can be detrimental to Aarhus University or its partners. This data includes applications, contracts, financial information etc. Confidential data requires a high degree of protection. Access to confidential data must be restricted to authorised persons, and the use of encryption should be considered, especially when transferring such data to external media or services. Confidential data must never be stored or processed on private equipment.
</div>