<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
  <li class="breadcrumb-item ">Software Update</li>
</ol>
<div>
  <h2><strong>Software Update</strong></h2>
<br/>

By far the most malicious code (viruses and other malware) using known vulnerabilities in the machines operating systems and standard applications such as office suites and Internet browsers (or extensions for browsers such as Flash Player, Adober Reader, etc.). Therefore it is very important to keep all its machines (incl. Smartphones, etc.) Updated.

Turn therefore regular automatic update on your machines.

This is preconfigured on machines supplied by AU IT, but be aware that not all applications support automatic updating.

&nbsp;
<br/>

  <img class="size-full wp-image-150 alignleft" src="assets/csm_update_03_6e80a80b79.jpg" alt="" width="1000px" height="400px" />
<div >
<h2><strong>3 quick of updates</strong></h2><br/>
</div>
<div >

<strong>Q:</strong> Laves that updates for all versions of operating systems, office applications and browsers?
<br/>
<strong>A:</strong> Prepare for all newer, but after a certain time cease manufacturers to make updates. If your machine is provided by AU IT, the upgrade when required. <a href="http://aarhus.onthehub.com/">In addition, all staff and students purchase upgrades at very low prices here</a> .
<br/><br/>
<strong>Q:</strong> Can I get updates for operating systems other than Windows?
<br/>
<strong>A:</strong> Yes. Both Apple's operating system as the various flavors of Linux are regularly updated, and there are ways to ensure automatic updates for all of them.
<br/><br/>
<strong>Q:</strong> My Windows version is "not official". Can I get updates addreserer vulnerabilities?
<br/>
<strong>A:</strong> No! You must immediately correct this. No machines on AU network must use licensed software without a purchased license.

The university does not condone software piracy. It is theft!

</div>
  
</div>