<div>
  <h1><strong>BACKUP</strong></h1>
  A backup of its data can be the difference between success and failure. Hardware failures, crashes, virus attacks etc. often leads to loss of data, and such events occur more often than you might think.

By storing a copy of his data on his personal network drive at the university, you are sure that there is always a backup of your vital data and could therefore only to lose hours of work over days, weeks or months of work.

Remember, however, that the network drive is reserved for the university's data, so although it's nice also to have backup of your private data - such as images, hear it at home on University Drive. Here one must instead use other solutions.

Please also note that services like Dropbox, OneDrive, etc. should not be used to backup of university data. First, the university can not access the data, if there is a need for it, and secondly, there are typically no guarantees from such services around security. A copy of its data on eg Dropbox is also insufficient against so-called "Ransomware" which is a piece of malicious code that encrypts one's files, and require payment to get them back. Finally, it is illegal to keep such personal data on such services, so they is not suitable for all types of data.

If you have very large datasets, or any special needs that do not immediately fit into the solution that you already have, please contact your local IT support in order to find a solution. Find contact information at<a href="http://au.dk/it">au.dk/it</a>

&nbsp;
<div class="csc-header csc-header-n1">
<h1 class="csc-firstHeader">Why should I backup?</h1>
</div>
A lost laptop, an errant mouse click or a USB stick that smoke out of his pocket - in an instant, your important data being lost forever.

Whether it's the last several weeks of work, Bachelor's or your collection of poetry is subordinate - if you have data that are important to you or the University of Aarhus, you should regularly make backups so you do not lose them. As an employee you have a responsibility to ensure that your work data is backed up.
<div class="csc-header csc-header-n2">
<h1>The difference between backup and archiving</h1>
</div>
It is important to note the difference between the backup and archiving. Basically making AU IT backup the data, not a filing.

In practice this means foregoing that the AU IT can not find back to any version of data at any given time. Data in the backup system overwritten after a period, and thus we can not find any data that is older than this overwrite cycle.

The above also means that the AU IT can not restore deleted files for longer than overskrivningscyklussen items. One should therefore immediately contact the support if you accidentally delete something on his network drives that should not be deleted.

If you need to have archiving, i.e., long-term storage of data, you should make an appointment with AU IT accordingly (eg as a requirement compared. EU projects).

&nbsp;
<div class="csc-header csc-header-n3">
<h1>What makes AU IT, and what should you do?</h1>
</div>
As a student or employee, it is your responsibility to have a backup of the data that is relevant to your studies or your work at AU. The basis is common sense - and a consideration of how much data is "afford" to lose should be a guideline for how often you make a backup.

You should place your data on the university network drives, as these are automatically subject to backup. Affixed data elsewhere, should be regularly making a copy on the university network drive.
<div>

Of course there are situations where data can not be readily stored on secured servers (eg. Data collected in the field or while calculations in progress), but you should as an employee or student at AU sure that this type of data is backed up as soon as possible. It is recommended to use alternative options to backup, eg an external hard drive or a USB connector.

</div>
<div>

Do you have a special need - such as very large volumes of data - helps AU IT would like to find an appropriate solution. <a href="http://www.au.dk/informationssikkerhed/kontaktos/">Contact your local support.</a>

</div>
<div class="csc-header csc-header-n4">
<h1>FAQ</h1>
</div>
<div>

<strong>Q:</strong> I am a student and have no access to the university network drive. Is a USB key or USB disk not good enough to own backup?

<strong>A:</strong> It's certainly very well to copy the files onto a USB key or a small USB disk. It is even better to use a proper backup program that saves previous versions too - you could get to make mistakes, as will proper. But remember not to keep the PC and the USB key or drive along - so they can be stolen together.

<strong>Q:</strong> What about DropBox or uBackup, UbuntuOne, Memopal, SkyDrive or similar on-line services?

<strong>A:</strong> These Internet-based "free" storage solutions is clearly better than no backup, and can generally be used by students. Do not expect to AU IT know them all in detail. As an employee you should exercise caution when using these services, and they should not be used for an alternative to network drives at AU. Sensitive and / or confidential data should not place on these services, the kind of data to be stored on the university's equipment and if they are used on laptops (or other mobile devices) must be encrypted.

</div>
.
  
</div>