<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
  <li class="breadcrumb-item ">Online Use</li>
</ol><div>
  <h1><strong>Online Use</strong></h1>

<br/>
IMS has an Internet connection can be used by all staff and students.

When using the Internet exposes you also your machine - and your data - at risk. Therefore, you must always be vigilant.

Even if your machine has a fully updated <a href="http://www.imshealth.com/en/thought-leadership/quintilesims-institute">antivirus software</a> , operating system, etc. You risk that a website you visit is infected with malicious code that our systems do not yet know.

Remember that even "respectable" sites being infected - typically through the banner ads that fund many websites. So you should exercise <strong>common sense</strong> when you are on the Internet; be careful what you click!
<div class="large-8 medium-8 small-12 column">
<div id="c749247" class="csc-default">
<div class="csc-header csc-header-n1">
<h2 class="csc-firstHeader"></h2>

 <!--  <img class="size-medium wp-image-152 alignleft" src="assets/email.jpg" alt="" width="1160px" height="500px" />
  -->
<div class="image-content">
    <div class="image-content-text">
     
    </div>
  </div>
   <br/>
<h2><strong>Be aware of the following</strong></h2><br/>
</div>
You should be aware of the following things when using the IMS's Internet connection:
<ul>
 	<li>If you use the link private so considerate towards others. The key words are  <strong>common sense</strong> . First of all, it must not have a scope that bothers other people's work, and you should never use the IMS's Internet commercially.</li>
 	<li>When using the IMS's Internet connection "appears" you're out on the net with an identity which represents, or traceable to, Aarhus IMS. Of course you have freedom of speech, but you may not speak on behalf of the IMS (or look as if you do it) unless you are authorized to do so, and you can not with your behavior could bring the IMS into disrepute.</li>
 	<li>Do not use your Internet connection for illegal activities. Remember to IMS IT logs everything and can use these logs to find the identity of people who abuse the Internet connection. Download any file sharing of pirated software, movies, music and other equivalent material is not only criminal, it is also a direct attack on the IMS's IT security and can result in severe disciplinary sanctions.</li>
</ul>
</div>
</div>
  
</div>