:host {
  display: block;
  font-family: Arial !important;
  
}

.footer{
    background-color: #002546;
    height:100px;
    margin-top: 5px;
    color: #fff;
    text-align: center;
}
.copyright{
    padding-top:3%;
}

ul{
    list-style: none;
}
a{
    color:#fff;
}
.paddingAlign{
    padding-top:1.5%;
}