<footer class="footer text-center">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 copyright">
      <span>Copyright &copy; 2017</span>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 paddingAlign">
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </div>
   
    <div class="col-lg-2 col-md-2 col-sm-3 paddingAlign">
      <ul>
        <li><a href="#">References</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
  </div>
</footer>