:host {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
  font-family: Georgia !important;
 

}
.content{
  font-size: 16px;
  margin-top:1.5%;
  line-height: 1.42857143;
  color: #2c3e50;
  line-height: 1.42857143;
  text-align: justify;
  font-family: Georgia;
  padding-top: 80px;
}
.thumbnail-image{
  width:265px;
  margin:10px;
}
.header{
  background-color:#002546; 
  height:105px;
}

.search{
padding-top: 50px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
    padding-left: 1050px;
}

.au_searchform #tx_googlequery_searchform_ss_q {
    background: #002546;
    border: 0;
    border-bottom: 2px solid #687989;
    text-align: right;
    color: #fff;
  }


  .form-control 
  {   
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    height: 40px;
}

.menu resetlist{

}
.top-bar{
  font-family: Georgia;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
}

.navbar-collapse collapse{
  color: red;
}