<sd-toolbar></sd-toolbar>
<main>
    <div class="row" style="background-color: #069bf7;">
        <header>
            <nav class="navbar">
                 <div class="navbar-header">
                    <a [routerLink]="['/about']"><img class="thumbnail-image" src="./assets/mainnav-logo_quintilesims.png" alt="..." align="left" height="75px"
                            width="300px"></a>
                </div> 
            </nav>
        </header>
    </div>
    <div class="row">

        <div class="col-lg-4" style="width:23.5%;">
            <sd-navbar></sd-navbar>
        </div>
        <div class="col-lg-8 content" style="margin-top:1.5%">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<sd-footer></sd-footer>