<sd-toolbar></sd-toolbar>
<main>
    <div class="row" class="header">
        <header>
            <div class="navbar" >
                 <div class="navbar-header">
                    <a [routerLink]="['/about']"><img class="thumbnail-image"  src="./assets/mainnav-logo_quintilesims.png" alt="..." align="left" height="80px"
                            ></a>
                </div> 
            </div>
        </header>
    </div>
    <div class="row">

        <div class="col-lg-4" style="width:23.5%;">
            <sd-navbar></sd-navbar>
        </div>
        <div class="col-lg-8 content">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<sd-footer></sd-footer>