:host {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
  font-family:"Open Sans-serif";
}
.content{
  padding:20px;
  font-family: "Open Sans-serif";
  font-size: 14px;
  line-height: 1.42857143;
  color: #2c3e50;
}